/* Changes to this file could be overwritten when syncing.  You should 
   make your personal changes in the personal.css file to avoid losing them.
*/

body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 3em;
}

h1,
h2,
h3 {
	font-family: monospace;
	font-weight: bolder;
	color: indigo;
}

button {
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	border-width: 1px;
	border-radius: 0.375rem;
}

button:hover {
	background-color: hsl(120, 55%, 65%);
}

canvas.border {
	border: solid 1px black;
}

.hidden-asset {
	display: none;
}

a.back-link {
	float: right;
}

li {
	padding: 0.5rem 0;
}

code {
	font-family: monospace;
	padding: 2px 4px;
	font-size: 1.2em;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

#output-container {
	font-family: monospace;
	padding: 10px;
	font-size: 1.5em;
	color: hsl(0, 0%, 80%);
	background-color: hsl(0, 0%, 20%);
	border-radius: 4px;
}

#output-container:empty:before {
	content: "Your output will appear here...";
}
