/* Changes to this file could be overwritten when syncing.  You should 
   make your personal changes in the personal.css file to avoid losing them.
*/

body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

canvas.border {
	border: solid 1px black;
}

.hidden-asset {
	display: none;
}

a.back-link {
	float: right;
}
